version: '3.8'

services:
  backend:
    build: ./backend
    container_name: blackcoffer_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
    restart: always

  frontend:
    build: ./frontend
    container_name: blackcoffer_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always
